body {
    background-color: grey;
    color:hotpink;
    display: flex;
    flex-direction: column;
    background-image: url(../assets/mikey.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

img {
border:2px solid hotpink;
border-radius: 20%;
justify-content: center;
}

p {
    text-align: center;
    font-size: 2rem;
    font-family: 'Creepster', cursive;
    font-weight:bold
}
#title {
    font-family: 'Creepster', cursive;
    text-align:center;
    font-weight: bold;
    font-size: 3rem;
}
button {
    font-size: 25px;
    border-radius: 50%;
    /* : center; */
    color:hotpink
}

#images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    align-items: center;
    margin: 20px;
}

#rock-image {
    margin-left: 20px;
}

#paper-image {
    margin: 20px;
}

#scissors-image {
    margin
}